<div class="container relative">
  <div class="row flex-between flex-middle {% unless collection_image_on == true %}{% endunless %} p-b-30">
    <div class="cell- cell-12-sm">
      {% if filter.title %}
        <h1 class="h1-like fw-400 m-t-0 m-b-0">{{ filter.title | editable }}</h1>
      {% else %}
        <h1 class="h1-like fw-400 m-t-0 m-b-0">{{ collection.title | editable }}</h1>
      {% endif %}
    
    </div>
   
    
    <div class="cell-12-sm colorfilter">
      {% capture products_count %}
      {% include 'declination', items_count: collection.products_count %}
      {% endcapture %}
      {{ collection.products_count }} {{ products_count | strip }}
    </div>
  </div>
 
  <div class="bodyofsubcols">
     <div class="subcols">
        {% for collection in collection.subcollections %}
            <div class="card">
              <a href="{{ collection.url }}">
                <span>{{ collection.title }}</span>
                <div class="liquidw"></div>
              </a>
            </div>
        {% endfor %}
      </div>
  </div>


  <div class="m-t-40 js-products-slider block_hits">
    <h2 class="pop_hit_h p-b-10">     
    Хиты продаж
  </h2>
    <div class="pop_hits p-t-20 p-b-20">
      <div class="js-products-slider in-collection">
        <div class="products-slider-wrapper relative">
          <div class="products-slider swiper-container ">
            <div class="swiper-wrapper flex_swiper">
              {% for product in collection.products %} 
                {% for property in product.properties %} 
                    {% if property.name == 'Бестселлер' %}
                      {% for characteristic in property.characteristics %}
                        {% if characteristic.name == 'Да' %}
                            
                            

                                <div class="swiper-slide" style="width: 171px; margin-right: 20px;" >
                                  
                                  {% assign show_old_price = true %}

                        {% if product.images.size > 1 %}
                          {% assign hover_image_class = 'second-img' %}
                          {% assign hover_image_url = product.images[1].large_url %}
                        {% endif %}

                        {% if product.old_price %}
                          {% if product.old_price > product.price %}
                            {% assign show_old_price = true %}
                            {% assign discount = product.price | divided_by: product.old_price | times: -100 | plus: 100 | round: 0 %}
                          {% endif %}
                        {% endif %}
                        <form class="" action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}" data-recently-view="{{ product.id }}" data-product-gallery=".js-product-gallery-main">
                        <div class="product-item">
                          
                          
                           
                          <a class="product-image square {% if settings.product_img.size == 0 %}rel-img{% endif %} no-transparent {{ hover_image_class }}" {% if settings.product_img.size > 0 %}style="padding-top: {{ settings.product_img }};"{% endif %} href="{{ product.url }}" data-url="{{ product.url }}" data-prod-title="{{ product.title }}" {% if hover_image_url.size > 0 %}data-show-img="{{ hover_image_url }}"{% endif %} data-open-product>
                          

                            {% if product.images.size > 0 %}
                              <img class="transition" src="{{ product.first_image.large_url }}" alt="{{ product.title }}" />
                            {% else %}
                              <img class="transition" src="{{ 'no_image.png' | asset_url }}" alt="{{ product.title }}" />
                            {% endif %}
                              <div class="product_buttons"> 
                                
                               <button class="favsadd_gal" type="button" data-favorites-trigger="{{ product.id }}">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
                                  </button>
                            </div>
                            
                            {% unless bundle_component %}
                              {% include "labels-list", product: product, bundle_component: bundle_component %}

                              {% endunless %}

                            
                          </a>
                          <div class="colordesc">
                            <div class="textal">
                              <a  href="{{ product.url }}">{{ product.title }}</a>
                            </div>
                            <div>
                              {% if bundle_component %}
                                {% if bundle_component.is_free %}
                                  <span class="product-price_1">{{ messages.label_is_free }}</span>
                                {% else %}
                                  <span class="product-price_1">{{ bundle_component.variant.price | money }}</span>
                                  {% if bundle_component.variant.old_price %}
                                    {% if bundle_component.variant.old_price > bundle_component.variant.price %}
                                      <span class="product-old_price_1">{{ bundle_component.variant.old_price | money }}</span>
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% else %}
                                {% if max_discount < discount %}{% assign max_discount = discount %}{% endif %}
                                {% if product.price_varies? %}
                                  <span class="product-price_1">
                                    {{ messages.label_from }}
                                    {{ product.price_min | money }}
                                  </span>
                                  {% assign old_price_min = 0 %}
                                  {% for variant in product.variants %}
                                    {% if variant.price == product.price_min %}
                                      {% if variant.old_price != 0 and variant.price < variant.old_price %}
                                        {% if old_price_min == 0 %}
                                          {% assign old_price_min = variant.old_price %}
                                        {% else %}
                                          {% if old_price_min > variant.old_price %}
                                            {% assign old_price_min = variant.old_price %}
                                          {% endif %}
                                        {% endif %}
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                  {% if old_price_min != 0 %}
                                    <span class="product-old_price_1">{{ old_price_min | money }}</span>
                                  {% endif %}
                                {% else %}
                                  <span class="product-price_1">
                                    {{ product.price | ceil | append: '&nbsp' | append: '₽' }}
                                  </span>
                                  {% if product.old_price %}
                                    {% if product.old_price > product.price %}
                                      <span class="product-old_price_1">{{ product.old_price | ceil | append: '&nbsp' | append: '₽'}}</span>
                                    {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            </div>
                            
                          </div>
                        </div>
                        </form>

{% assign labels_list = nil %}
{% assign discount = nil %}
{% assign hover_image_class = nil %}
{% assign hover_image_url = nil %}


                                        
                                </div>  
                            

                        {% endif %}
                        
                      {% endfor %} 
                    {% endif %}


                {% endfor %} 
              
              {% endfor %}
            </div>
          </div>

          <div class="products-control">
            <div class="review-slider-prev swiper-button-prev">{% include 'svg' with 'review-arrow-left' %}</div>
            <div class="review-slider-next swiper-button-next">{% include 'svg' with 'review-arrow-right' %}</div>
          </div>
        </div>
        </div>
  


    </div>
  
</div>
     
      


             

  
  </div>
  

</div>