{% assign level_limit = level_limit | default: 100 %}
{% assign links_limit = links_limit | default: 100 %}
{% assign show_icon = show_icon | default: false %}

{% assign start_time = 'now' | date: '%s.%L' %}

{% capture cache_menu_key %}cache_menu_key_{{ collections.last_updated_at }}_{{ menu_class }}_{{ level_limit }}_{{ links_limit }}_{{ show_icon }}_{{ source_type}}_{{ source_handle }}_{{ language.local }}{% endcapture %}

{% if source_type == 'collection' %}

    {% assign prev_link_level = 1 %}
    {% assign root_level = collections[source_handle].level %}

    <ul class="collection-flatten no-list-style menu level-1" data-menu-id="{{ menu_class }}">
 
      {% for link in collections[source_handle].flatten_branch %}

        {% assign node_level = link.level | minus: root_level %}
        {% assign _in_limit = level_limit | minus: node_level %}
        {% assign _next_level_in_limit = _in_limit | minus: 1 %}

        {% assign show_level = false %}
        {% if _in_limit >= 0 %}
          {% assign show_level = true %}
        {% endif %}

        {% assign show_next_level = false %}
        {% if link.subcollections.size > 0 and  _next_level_in_limit >= 0 %}
          {% assign show_next_level = true %}
        {% endif %}

        {% if show_level %}

          {% assign level_difference = prev_link_level | minus: link.level | plus: root_level %}

          {% if level_difference > 0 %}
            {% for i in (1..level_difference) %}
              {% unless forloop.first %}
                </li>
              {% endunless %}

              </ul>
            {% endfor %}

            </li>
          {% endif %}

          <li class="p-t-10 {% if link.current? %}active{% endif %}">
            <a href="{{ link.url }}" class="menu-link show-inline {% if template == 'collection' and link.url == collection.url %}underline{% endif %}" data-menu-link="{{ link.handle }}" data-menu-link-source="collection">
              {{ link.title }}
            </a>

            {% if show_next_level %}
              &nbsp;
              <span class="js-flatten-open inline-middle transition">{% include 'svg' with 'arrow-down' %}</span>
            {% endif %}

            {% if show_next_level %}
              <ul class="menu subcol p-l-15">
            {% endif %}

            {% assign prev_link_level = node_level %}

          {% unless show_next_level %}
            </li>
          {% endunless %}

          {% if forloop.last %}
            {% assign prev_link_level = node_level | minus: 1 %}
            {% for i in (1..prev_link_level) %}
              </ul>
            {% endfor %}
          {% endif %}

        {% endif %}

      {% endfor %}
    </ul>
{% endif %}

{% assign prev_link_level = null %}
{% assign source_handle = null %}
{% assign menu_class = null %}
{% assign source_type = null %}
{% assign show_icon = null %}
{% assign level_limit = null %}
{% assign links_limit = null %}
{% assign is_current = null %}
