{% if paginate['pages'] > 1 %}
  <div class="text-right pagecolor">
    <ul class="pagination">

      {% if paginate.previous %}
        <li class="pagination-item">
          <a href="{{ paginate.parts.first.url }}" class="pagination-link"><<</a>
        </li>
        <li class="pagination-item">
          <a href="{{ paginate.previous.url }}" class="pagination-link"><</a>
        </li>
      {% endif %}

      {% for part in paginate.parts %}
        {% if part.title == paginate['current_page'] %}
          <li class="pagination-item is-current">
            <span class="pagination-link">
              {{ part.title }}
            </span>
          </li>
        {% else %}
          <li class="pagination-item">
            {% if part.is_link %}
              <a href="{{ part.url }}" class="pagination-link">
                {{ part.title }}
              </a>
            {% else %}
              <span>
                {{ part.title }}
              </span>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

      {% if paginate.next %}
        <li class="pagination-item">
          <a href="{{ paginate.next.url }}" class="pagination-link">></a>
        </li>
        <li class="pagination-item">
          <a href="{{ paginate.parts.last.url }}" class="pagination-link">>></a>
        </li>
      {% endif %}

    </ul>
  </div>
{% endif %}
